@charset "UTF-8";
/*Variable*/
/*Tipografía*/
@font-face {
  font-family: "Futura-Book";
  font-style: normal;
  font-weight: 400;
  src: local("Futura-Book"), url(../Fonts/Futura/Book.ttf) format("woff");
}
@font-face {
  font-family: "Golfmind";
  font-style: normal;
  font-weight: 400;
  src: local("Golfmind"), url(../Fonts/Golfmind.ttf) format("woff");
}
/*Tamaños y fuentes*/
h1,
h2,
h3 {
  font-family: "Golfmind", sans-serif;
}

nav,
footer,
p,
li {
  font-family: "Futura-Book", sans-serif;
}

h1 {
  font-size: 50px;
}
h1 h2 h3 nav footer p li {
  color: black;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 18px;
}

h3 {
  font-size: 35px;
}

nav {
  font-size: 20px;
}

footer,
li {
  font-size: 16px;
}

/*Estilo de enlaces y listas*/
a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

li {
  text-decoration: none;
  color: black;
  list-style-type: none;
}

/*Estilo para el fondo*/
body {
  background-color: rgb(248, 243, 239);
  margin: 0 20px;
  padding: 20px 20px;
}

/* Header*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Logo {
  width: 130px;
}

nav ul li {
  list-style: none;
}

nav ul {
  margin: 0;
  padding: 0;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.Logof {
  width: 200px;
}

/*Footer*/
.footer-link {
  background-color: rgb(242, 237, 230);
  margin: 0;
  padding: 80px;
  display: flex;
  justify-content: space-between;
}

.menu-footer,
.seguinos-footer,
.contactanos-footer {
  text-align: center;
}

/*Mixin*/
/*Mixin sin parámetros*/
.btnb .btnc .btnd .btndg .btnp .btnw {
  padding: 10px 20px;
  border-radius: 10px;
}

/*Index*/
.img-card1 {
  width: 100%;
  max-width: 550px;
  text-align: right;
}

.decoración-derecha {
  width: 80px;
}

.btn {
  background-color: rgb(251, 199, 55);
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
}
.btn:hover {
  background-color: rgb(255, 187, 0);
}

.Serviciosi {
  width: 200px;
}

.servicioss {
  padding: 0px 5px;
}

.btnb {
  background-color: rgb(251, 199, 55);
  padding: 10px 20px;
  border-radius: 10px;
}
.btnb:hover {
  background-color: rgb(255, 187, 0);
}

.btnc {
  background-color: rgb(255, 126, 34);
  padding: 10px 20px;
  border-radius: 10px;
}
.btnc:hover {
  background-color: rgb(252, 107, 3);
}

.btnd {
  background-color: rgb(255, 155, 196);
  padding: 10px 20px;
  border-radius: 10px;
}
.btnd:hover {
  background-color: rgb(252, 124, 176);
}

.btndg {
  background-color: rgb(127, 176, 93);
  padding: 10px 20px;
  border-radius: 10px;
}
.btndg:hover {
  background-color: rgb(108, 163, 69);
}

.btnp {
  background-color: rgb(118, 175, 198);
  padding: 10px 20px;
  border-radius: 10px;
}
.btnp:hover {
  background-color: rgb(81, 167, 201);
}

.btnw {
  background-color: rgb(181, 149, 184);
  padding: 10px 20px;
  border-radius: 10px;
}
.btnw:hover {
  background-color: rgb(162, 123, 166);
}

.Portfolio {
  width: 550px;
  text-align: left;
}

.portfolio-derecha,
.text-right-2 {
  text-align: right;
}

.btn2 {
  background-color: rgb(251, 199, 55);
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  max-width: 200px;
  margin-left: auto;
}
.btn2:hover {
  background-color: rgb(255, 187, 0);
}

/*Nosotros*/
.img-us {
  width: 650px;
}

.anatomia-img {
  width: 850px;
}

.img-habilidades,
.img-3 {
  width: 450px;
}

.main.nosotros {
  margin: 40px;
  padding: 20px;
}

/*Servicios*/
.img-servicios {
  width: 350px;
}

.card.servicios {
  margin: 40px;
  padding: 20px;
}

/*Potfolio*/
.img-portfolio {
  width: 450px;
}

/*Contacto*/
.img-contact {
  max-width: 100px;
}

form {
  font-family: "Futura-Book", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.nombre-apellido-form {
  display: flex;
  margin: 40px;
  padding: 20px;
  justify-content: space-between;
}

.input-form {
  width: 550px;
  font-size: 18px;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  background-color: rgb(248, 243, 239);
  position: relative;
}

.nombre-form {
  text-align: left;
}

.email-telefono-form {
  display: flex;
  margin: 40px;
  padding: 20px;
  justify-content: space-between;
}

.asunto-form {
  margin: 40px;
  padding: 20px;
}

.largo {
  width: 1170px;
  font-size: 18px;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  background-color: rgb(248, 243, 239);
  position: relative;
}

.mensaje-form {
  font-size: 18px;
  margin: 60px;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  background-color: rgb(248, 243, 239);
  position: relative;
  width: 100%;
}

textarea {
  border: none;
  border-bottom: 2px, solid black;
  background-color: rgb(248, 243, 239);
  width: 100%;
}

.submitt {
  margin: 40px;
  padding: 20px;
  font-family: "Futura-Book", sans-serif;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: right;
}

.btn-form {
  background-color: rgb(181, 149, 184);
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.btn-form:hover {
  background-color: rgb(162, 123, 166);
}

/*Responsive Design*/
@media (max-width: 1023px) {
  .footer-link {
    flex-direction: column;
  }
  .img-card1,
  .Portfolio {
    width: 100%;
  }
  .img-card1 {
    margin-top: 2rem;
  }
  .Logo {
    max-width: 90px;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 30px;
  }
  p {
    font-size: 15px;
  }
  h3 {
    font-size: 20px;
  }
  h4,
  nav {
    font-size: 18px;
  }
  li,
  footer {
    font-size: 12px;
  }
  .footer-logo {
    display: flex;
    justify-content: space-around;
  }
  .Logof {
    width: 100px;
  }
  .img-us {
    width: 350px;
  }
  .anatomia-img,
  .img-habilidades,
  .img-3 {
    width: 100%;
  }
  .img-habilidades {
    margin-top: 2rem;
  }
  .order-1-custom {
    order: 1;
  }
  .order-2-custom {
    order: 2;
  }
  .col-7,
  .img-servicios {
    width: 100%;
  }
  .img-portfolio {
    width: 250px;
  }
  .btnb,
  .btnc,
  .btnd,
  .btndg,
  .btnp,
  .btnw {
    max-width: 250px;
    margin: auto;
  }
  .img-contact {
    max-width: 60px;
  }
  .email-telefono-form,
  .nombre-apellido-form {
    flex-direction: column;
    gap: 2rem;
    margin-top: -2rem;
  }
  .largo,
  .input-form {
    width: 100%;
  }
  nav ul li {
    margin-right: 1rem;
  }
  .btn,
  .btn2 {
    margin: auto;
  }
  .text-center-custom {
    text-align: center !important;
  }
  .nav-links {
    gap: 0.5rem;
  }
}

/*# sourceMappingURL=estilo.css.map */
